@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  body {
    font-family: "yekan-bakh" !important;
    direction: rtl;
    @apply mt-24 h-full mx-auto bg-slate-700;
  }
}

.ProseMirror {
  outline: none;
  @apply max-w-full max-h-full py-6 px-4 focus:ring ring-blue-500 rounded-lg min-h-[350px] mx-auto prose-sm prose prose-p:text-white prose-strong:text-white prose-ul:px-4 prose-headings:text-white sm:prose-base lg:prose-lg xl:prose-2xl focus:outline-none;
}

.ProseMirror :where(ol > li):not(:where([class~="not-prose"] *))::marker {
  @apply text-slate-700;
}
